/** --------------------------------------------------------------------

  Move Off Screen

--------------------------------------------------------------------- */

@mixin move-off-screen () {
  left: -9999em;
  position: absolute;
  top: -9999em;
}


/**

  Example Usage:
  -----------------------------------------------------------

  .hidden-nav-item-example {
    @include move-off-screen;
  }

*/
