/** --------------------------------------------------------------------

  ARIA List Elements

  Styling to ensure that ARIA lists look like real lists

--------------------------------------------------------------------- */

// for var values, see base-lists.scss

//------------------------------------------------------------------------

[role="list"] {
  padding-left: $list--base-spacing;
}

[role="listitem"] {
  display: list-item;
  list-style: disc outside none;
}

[role="listitem"] + [role="listitem"] {
  margin-top: $list--base-spacing;
}


/**

  Example Mark-up:
  -----------------------------------------------------------



*/
