/** --------------------------------------------------------------------

  Forgot Password Link

--------------------------------------------------------------------- */

$link--forgot-pw--font-size:                .85em !default;
$link--forgot-pw--right:                    0 !default;
$link--forgot-pw--top:                      4px !default;

// ---------------------------------------------------------------------

.link--forgot-pw {
  font-size: $link--forgot-pw--font-size;
  position: absolute;
  right: $link--forgot-pw--right;
  top: $link--forgot-pw--top;
}

/**

  Example Mark-up:
  -----------------------------------------------------------

  <div class="form-row">
    <label for="cs_login_pw">
      Password
    </label>

    <input type="password"
           name="cs_login_pw"
           id="cs_login_pw" />

    <span class="has-msg">
      error message here
    </span>

    <a class="forgot-pw" href="#!">
      Forgot Password?
    </a>
  </div>

*/
